USE [master]
GO
/****** Object:  Database [library]    Script Date: 26.12.2025 04:56:24 ******/
CREATE DATABASE [library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [library]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 26.12.2025 04:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BOOK_ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](200) NOT NULL,
	[AUTHOR] [nvarchar](100) NOT NULL,
	[CATEGORY] [nvarchar](50) NOT NULL,
	[PUBLICATION_YEAR] [int] NOT NULL,
	[PAGE] [int] NOT NULL,
	[STOCK] [int] NOT NULL,
	[STATUS] [bit] NOT NULL,
	[LANGUAGE] [nvarchar](50) NOT NULL,
	[RATING] [float] NOT NULL,
	[PUBLISHING_HOUSE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BOOK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loans]    Script Date: 26.12.2025 04:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loans](
	[LOAN_ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOK_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[LOAN_DATE] [datetime] NOT NULL,
	[DUE_DATE] [datetime] NOT NULL,
	[RETURN_DATE] [datetime] NULL,
	[STATUS] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LOAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26.12.2025 04:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](100) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[SURNAME] [nvarchar](50) NOT NULL,
	[BIRTHDATE] [date] NOT NULL,
	[RANK] [bit] NOT NULL,
	[PHONE] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BOOK_ID], [TITLE], [AUTHOR], [CATEGORY], [PUBLICATION_YEAR], [PAGE], [STOCK], [STATUS], [LANGUAGE], [RATING], [PUBLISHING_HOUSE]) VALUES (1, N'The Lord of the Rings: The Fellowship of the Ring', N'J.R.R. Tolkien', N'Fiction', 1954, 432, 5, 1, N'English', 9.8, N'Penguin')
INSERT [dbo].[Books] ([BOOK_ID], [TITLE], [AUTHOR], [CATEGORY], [PUBLICATION_YEAR], [PAGE], [STOCK], [STATUS], [LANGUAGE], [RATING], [PUBLISHING_HOUSE]) VALUES (2, N'The Lord of the Rings: Two Towers', N'J.R.R Tolkien', N'Fiction', 1954, 464, 3, 0, N'English', 9.9, N'Penguin')
INSERT [dbo].[Books] ([BOOK_ID], [TITLE], [AUTHOR], [CATEGORY], [PUBLICATION_YEAR], [PAGE], [STOCK], [STATUS], [LANGUAGE], [RATING], [PUBLISHING_HOUSE]) VALUES (3, N'The Lord of the Rings: Return of the King', N'J.R.R Tolkien', N'Fiction', 1955, 432, 2, 1, N'English', 9.8, N'Penguin')
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Loans] ON 

INSERT [dbo].[Loans] ([LOAN_ID], [BOOK_ID], [USER_ID], [LOAN_DATE], [DUE_DATE], [RETURN_DATE], [STATUS]) VALUES (1, 1, 1, CAST(N'2025-12-26T04:10:07.520' AS DateTime), CAST(N'2026-01-09T04:10:07.520' AS DateTime), NULL, 1)
INSERT [dbo].[Loans] ([LOAN_ID], [BOOK_ID], [USER_ID], [LOAN_DATE], [DUE_DATE], [RETURN_DATE], [STATUS]) VALUES (2, 15, 5, CAST(N'2025-12-26T04:42:57.330' AS DateTime), CAST(N'2026-01-09T04:42:57.330' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Loans] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([USER_ID], [USERNAME], [EMAIL], [PASSWORD], [NAME], [SURNAME], [BIRTHDATE], [RANK], [PHONE]) VALUES (1, N'GoldenWatchman', N'omutlu564@gmail.com', N'452302', N'Olcay', N'Mutlu', CAST(N'2004-08-17' AS Date), 0, N'05061266620')
INSERT [dbo].[Users] ([USER_ID], [USERNAME], [EMAIL], [PASSWORD], [NAME], [SURNAME], [BIRTHDATE], [RANK], [PHONE]) VALUES (2, N'Ebruuu', N'ebrukorkmaz@gmail.com', N'Hamburger06', N'Ebru', N'Korkmaz', CAST(N'2000-01-29' AS Date), 0, N'05339910075')
INSERT [dbo].[Users] ([USER_ID], [USERNAME], [EMAIL], [PASSWORD], [NAME], [SURNAME], [BIRTHDATE], [RANK], [PHONE]) VALUES (3, N'MEge', N'mhmmtege2003@gmail.com', N'ege1234', N'Muhammet Ege', N'Aslan', CAST(N'2003-04-15' AS Date), 0, N'05053332480')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO